.wrap-text {
      white-space: normal;
      max-width: 200px;
      vertical-align: middle;

}

.my-select {
      border-left: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
}